<div class="container"> <a href="/channels/<%=@channel.id%>/subscribe">Subscribe to this channel</a>

  <h1> The <%= @channel.name %> Channel </h1>
  <br>
  <h3> Callsign: <%= @channel.callsign%> </h3>
  <h3> Price: $<%= @channel.price_per_month%></h3>
  <br>
  <h3> People who have subscribed to this channel:</h3>
  <% @channel.subscribers.each do |subscriber| %>
    <h4><%= subscriber.first_name %> <%= subscriber.last_name %></h4> 
       <%= subscriber.email %>
       <br>
  <% end %>
</div>